{% extends 'structure.html' %}
{% block content %}
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-white my-6 text-2xl ">Login</h1>
    <form method="post" action="" class="flex bg-form-color rounded py-6 px-4 w-[35%] flex-col items-center">{% csrf_token %}
      <div style="border-radius: 5px;" class="bg-input-bg 
      text-gray-200 py-3 w-[80%] mb-6 mt-6
      items-center focus:text-special-color-light">
        <input name="username" type="text" class="bg-transparent border-0 text-white text-base px-3 w-[100%]" placeholder="Username" />
      </div>
      <div style="border-radius: 5px;" class="bg-input-bg 
      text-gray-200 py-3 w-[80%] mb-6
      items-center focus:text-special-color-light">
      <input name="password" type="password" class="bg-transparent border-0 text-white text-base px-3 w-[100%]" placeholder="Password" />
      </div>
      <button type="submit" class="w-[80%] bg-special-color-light rounded-md mt-6 py-2 px-2 text-white hover:bg-special-color-hover">Login</button>
    </form>
  </div>
{% endblock %}