{% extends 'structure.html' %}
{% block content %}
  <div class="flex flex-col items-center">
    <h1 class="text-white my-6 text-2xl ">Contato</h1>
    <form class="flex bg-form-color py-6 px-4 w-[60%] flex-col items-center">
      <div style="border-radius: 5px;" class="bg-input-bg 
      text-gray-200 py-3 w-[70%] 
      items-center focus:text-special-color-light">
        <i class="fa-solid fa-user ml-3 text-base"></i>
        <input class="bg-transparent text-white text-base px-3 w-[80%]" placeholder="Nome" />
      </div>
    </form>
  </div>
{% endblock %}