.headericon:hover {
  color: #5F30E2;
  transition: 0.5s;
}

.headericon {
  color: #fff;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Poppins;
}